.navbar-inverse {
    background: none repeat scroll 0 0 #961A8D;
    border: 0;
}

.table td{
    vertical-align:middle !important;
}
.has-error, .has-error input, .has-error select{
    color:#a94442 !important;
}
.popover{
    max-width:999999px !important;
}
.navbar-brand{
    padding-top:5px !important;
}